<div class="nav-links-bottom">
    <a class="" href="/">Home</a>
    <a href="/features">Features</a>
    <a href="/pricing">Pricing</a>
    <a href="/faqs">FAQs</a>
    <a href="/legal">Legal</a>
    <a href="/browse">Sample Tests</a>
    <a href="/build">Build a Test</a>
    <a href="/account/login/">Login/Sign Up</a>
</div>