<div class="header-wrapper">
    <div class="header section">
        <div class="nav">
            <div>
                <a href="/"><img src="image/examoz.png" alt="Testmoz"></a>
            </div>
            <div class="nav-links">
                <div><a class="" href="/">Home</a></div>
                <div><a class="" href="/features">Features</a></div>
                <div><a class="" href="/pricing">Pricing</a></div>
                <div><a class="" href="/faqs">FAQs</a></div>
                <div><a class="default-button" href="/build_test">Build a Test</a></div>
                <div><a class="" href="/account/login/">Login/Sign Up</a></div>
            </div>
        </div>
    </div>
</div>