<div id="sidebar">
    <div id="sidebar-content">
        <p id="bug-feature"><a href="/bug" target="_blank">Need Help?</a></p>
        <!--<a id="bug" target="_blank" href="/bug">Report a Bug</a> | <a id="feature" target="_blank" href="/feature">Request a Feature</a></p>-->
        <div id="logo"> <a href="/"><img src="/image/examoz.png" /></a></div>
        <!-- <a href="/"><img src="/static/1630181190/img/logo.gif" alt="Testmoz - The Test Generator" /></a> -->

        <div id="nav2">
            <div class="nav-section active-section">
                <a href="/10037536/admin" class="nav2-title"><img src="/img/file-alt.svg" />Exam Test</a>
                <a href="/10037536/admin" class="active">Dashboard</a>
                <a href="/10037536/admin/settings">Settings</a>
                <a href="/10037536/questions/list">Questions</a>
                <a href="/10037536/admin/publish">Publish</a>
                <a href="/10037536/admin/reports">Results</a>
            </div>
            <div class="nav-section ">
                <!--<input type="text">-->
            </div>
        </div>
        <div class="nav-footer">
            <!-- Here -->
            <a href="/10037536/admin/logout">Logout</a>
        </div>
    </div>
</div>