<% layout('layouts/boilerplate') %>

    <!-- nav bar is taken in the partial nabbar -->
    <div class="content-wrapper" style="border-bottom:5px solid teal; padding-top:50px; padding-bottom:50px;
    margin-bottom:0; background-color:transparent;margin-bottom:0; margin-top:0;">
        <div class="section" style=" background-color:transparent; margin-bottom:0; padding-bottom:0">
            <div class="landing" style="color:#fff;">
                <div id="hero-text">
                    <h1 style="text-align:left; font-size:28px">Easily create tests for your class, business or
                        organization.</h1>
                    <h2 style="text-align:left; font-size:22px; font-weight:normal">Distribute your tests online and get
                        the
                        results instantly. Testmoz does all the grading for you.</h2>
                    <div class="landing-buttons">
                        <a class="landing-button-build" href="/build">Build a Test</a>
                        <a class="landing-button-demo" href="/1">Try a Demo Test</a>
                    </div>
                    <div style="text-align:center">
                        <a class="landing-button-features" href="#"
                            onclick="$('#video-to-show').slideDown(); return false;">Watch a Demo</a>
                    </div>
                </div>
                <div id="hero-img">
                    <img src="/image/screenie.png" alt="A screenshot of the Testmoz quiz builder"
                        style="max-width:100%;" />
                </div>
            </div>
        </div>
        <div style="display:none;" id="video-to-show">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_S4bdBmiiV4?rel=0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="content-wrapper"
        style="padding-top:40px; background-color:#efefef;margin-bottom:0; border-bottom:5px solid #f99625">
        <div class="section use-cases"
            style="background-color:transparent; margin-bottom:0; padding-bottom:0; margin-top:0;">

            <h1 style="text-align:center;">Examoz is (very) simple.</h1>
            <div class="generic-flex big-p" style="margin-top:20px">
                <div>
                    <h2><span class="number">1</span> Adjust a few settings.</h2>
                    <p>In a few clicks, you can completely customize your test.</p>

                </div>
                <div>
                    <h2><span class="number">2</span> Add your questions.</h2>
                    <p>On a single page, you can insert, edit, and rearrange all your questions.</p>

                </div>
                <div>
                    <h2><span class="number">3</span> Distribute the URL.</h2>
                    <p>Just email the URL to your students, or post on your website, and you're done.</p>

                </div>
            </div>
            <h1 style="margin-top:50px; text-align:center"><span style="font-weight:normal">And when the results are
                    in,</span><br />Examoz has the most comprehensive results page.</h1>
            <p style="margin-bottom:0">At a glance you can see how everyone performed. You can search, sort, filter,
                partition, tag, archive, print, and email the results. You can dive into a student's results to see all
                their answers, leave feedback on their responses, and manually adjust their scores. Whether you have 10
                results, or 10,000, Examoz loads fast.</p>
        </div>
        <p style="text-align:center; margin-top:10px; margin-bottom:0; filter:blur(.5px)"><img
                class="ipad ipad-no-bottom" src="/image/results-wide.png" alt="A screenshot of the Examoz results page"
                style="max-width:100%;" /></p>
    </div>

    <div class="content-wrapper"
        style="padding-top:40px;margin-bottom:0; padding-bottom:40px; border-bottom:5px solid teal; color:#fff;">
        <div class="section use-cases" style="background-color:transparent; margin-bottom:0; padding-bottom:0">
            <h1 style="text-align:center">Who uses Examoz?</h1>
            <div class="generic-flex" style="text-align:center">
                <div>
                    <h2>Teachers</h2>
                    <p>Use Examoz to automatically grade your tests so you can get back to teaching. Create homework
                        quizzes for your students and reuse them year after year. You can print out paper copies for
                        in-class assignments too.
                    </p>


                </div>
                <div>
                    <h2>Trainers</h2>
                    <p>Ensure your learners have mastered your training material with Examoz. Build a test, distribute
                        it, review the results, leave feedback, and email the final results to the student.</p>
                </div>
                <div>
                    <h2>Employers</h2>
                    <p>Keep your employees up to date by conducting your safety, security and compliance quizzes on
                        Examoz. Export the results to Excel to keep for your records.</p>
                </div>
            </div>
        </div>

        <div style="text-align:center; margin-top:50px">
            <div class="section">
                <h1 style="text-align:center"><span style="font-weight:normal">Examoz is simple, but</span><br />it has
                    every feature you need.</h1>
                <div class="generic-flex">
                    <ul class="landing-list">
                        <li>Use a variety of question types including multiple choice, true/false, fill in the blank,
                            matching, ordering, short answer, numeric, essay and file uploads</li>
                        <li>Create question banks/pools</li>
                        <li>Upload images and files</li>
                        <li>Embed videos</li>
                        <li>Insert math equations</li>
                        <li>Add explanations to your questions</li>
                        <li>Use on mobile, tablet and desktop computers (<acronym
                                title="Fun Fact: Examoz is a favorite testing application of maritime shipping companies because it works so well on slow satellite connections in the middle of the ocean.">even
                                on low bandwidth connections</acronym>)</li>
                        <li>Create paper copies of your test</li>
                        <li>Customize the look and feel of your test</li>
                        <li>Set the language of the student interface</li>
                        <li>Limit the number of times someone can take your quiz</li>
                        <li>Set a time limit</li>
                        <li>Show a single question per page, or all questions at once</li>
                        <li>Set open/close dates for the test</li>
                        <li>Randomize the order of questions within the test for each test taker</li>
                        <li>Randomize the order of answer choices in a question</li>
                        <li>Pin questions or answers to ensure they stay in the same spot (even if the rest of your test
                            is randomized)</li>

                    </ul>
                    <ul class="landing-list">
                        <li>Re-grade questions if you make a mistake (automatically!)</li>
                        <li>Import questions from your other quizzes</li>
                        <li>Customize the message displayed at the end of the test if the student passed or failed the
                            test</li>
                        <li>Copy your quizzes</li>
                        <li>Combine multiple quizzes into a single test</li>
                        <li>Share a copy of your quiz with a colleague</li>
                        <li>Export your results to CSV</li>
                        <li>Give partial credit</li>
                        <li>Penalize incorrect answers (negative marking)</li>
                        <li>Easily review scores and summary statistics</li>
                        <li>Sort, search, tag, and archive test results</li>
                        <li>Partition your results by tag</li>
                        <li>Leave comments on the test results</li>
                        <li>Email the results to your test takers</li>
                        <li>Group your results by student, and display their min, max, first or last score</li>
                        <li>Manually adjust scores</li>
                        <li>Print test results in bulk</li>

                        <li>Get notified when someone finishes your quiz</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper"
        style="background-color:#efefef;margin-bottom:0; color:#000; padding-top:40px; border-bottom:5px solid teal;">
        <div class="section use-cases" style="background-color:transparent; margin-bottom:0; padding-bottom:0">
            <h1 style="text-align:center">Build your tests in record time with Examoz.</h1>
            <p>You can quickly create questions, move them around, copy them, import questions from your other tests,
                change question types, and move questions into pools.</p>
            <p>The test is <strong>autosaved</strong> while you're working on it, so you don't have to worry about
                losing your changes. You can also <strong>undo and redo</strong> your changes, just in case you make a
                mistake.</p>
            <p>You can mark questions as <strong>ungraded</strong>, you can <strong>shuffle</strong> the questions for
                each test taker, you can shuffle the answer choices, and you can show an <strong>explanation</strong>
                for any question.</p>
            <p>You can even import questions from a properly formatted <a download="examoz_question_import.xlsx"
                    href="/static/1630181190/examoz_import_template.xlsx">Excel file</a>.</p>
            <p>Examoz is powerful, and more features are being added all the time.</p>
        </div>
        <p style="text-align:center; filter:blur(.5px);"><img class="ipad" style="max-width:100%;"
                src="/image/question-editor2.png" alt="A screenshot of the Examoz quiz builder"
                style="max-width:100%;" />
        </p>
    </div>

    <div class="content-wrapper"
        style="padding-top:40px;margin-bottom:0; padding-bottom:40px; border-bottom:5px solid teal; color:#fff;">
        <div class="section use-cases" style="background-color:transparent; margin-bottom:0; padding-bottom:0">
            <h1 style="text-align:center">Distributing your test is easy.</h1>
            <p>Examoz provides you with a simple URL that you can email to your students so they can start the test.
                You can choose from a variety of authentication schemes to ensure <em>only</em> your students take the
                test.</p>
            <p>Your students will have no technical excuse for not completing your tests because...</p>
            <ul>
                <li>Examoz works on virtually all web browsers on <strong>desktops, tablets and phones</strong></li>
                <li>Examoz works well on <strong>low-bandwidth</strong> and spotty internet connections</li>
                <li>Examoz will automatically <strong>restore the student's test</strong> if they accidentally close
                    their browser</li>
            </ul>
            <p>You can <strong>customize the look and feel</strong> to match your school, or corporate color scheme.</p>
            <p>Examoz lets you choose whether to display <strong>all the questions at once, or one-per-page</strong>.
                You can set a <strong>time limit</strong>, and specify the <strong>max number of times</strong> a
                student can take your test.</p>
            <p>When the student finishes, you can choose to display their score, their responses, the explanations,
                and/or the correct answers. Or, you can hide all that information, and email the
                explanations/answers/feedback after <em>everyone</em> has finished.</p>
        </div>
        <p style="text-align:center; filter:blur(.5px);"><img class="ipad" src="/image/screenshot-long.png"
                alt="A screenshot of the Examoz quiz maker" style="max-width:100%;" /></p>
    </div>

    <div class="content-wrapper"
        style="background-color:#fff; padding-top:40px;margin-bottom:0; padding-bottom:40px; border-bottom:5px solid teal; margin-bottom:20px;">
        <div class="section use-cases"
            style="background-color:transparent; margin-bottom:0; padding-bottom:0; text-align:center">
            <h1>That was just a taste of Examoz.</h1>
            <p style="font-size:18px"><strong><a href="/build">Make a free test</a></strong> or <strong><a
                        href="/account/register">become a member</a></strong> to see all of Examoz in action. Still not
                convinced? <a href="/features"><strong>See more features</strong></a>.</p>
        </div>
    </div>


    <!-- footer is taken in the partial nabbar -->