<% layout('layouts/boilerplate2') %>


    <!-- side exampz will here -->

    <div id="document">
        <div class="content ">
            <h1>Exam Test Dashboard </h1>

            <p>This is the control panel where you can adjust settings, add questions, publish the test, and view
                results.</p>
            <h2>Tasks</h2>
            <div class="testmoz-list-detail">
                <div class="testmoz-list-item">
                    <div>0.</div>
                    <div>
                        <h6>Bookmark this page and write down your password</h6>
                        <p><strong class="red">It is absolutely critical that you do this!</strong> There is no way
                            to recover the URL or password.</p>
                    </div>
                </div>
                <a href="/10037536/admin/settings" class="testmoz-list-item">
                    <div>1.</div>
                    <div>
                        <h6>Adjust settings</h6>
                        <p>Change the test name, description and what happens after the test is graded. </p>
                    </div>
                </a>
                <a href="/question" class="testmoz-list-item">
                    <div>2.</div>
                    <div>
                        <h6>Add questions</h6>
                        <p>It's not much of a test if it doesn't have questions.</p>
                    </div>
                </a>
                <a href="/create_question" class="testmoz-list-item">
                    <div>3.</div>
                    <div>
                        <h6>Publish &amp; distribute</h6>
                        <p>Publish your test, distribute it to your students and start collecting results.</p>
                    </div>
                </a>
                <a href="/10037536/admin/reports" class="testmoz-list-item">
                    <div>4.</div>
                    <div>
                        <h6>View results</h6>
                        <p>See how well your students did on the test.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>